@using System.Net.Http.Json
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using SleepWellApp.Shared
@using MudBlazor
@inject HttpClient httpClient

@page "/admin"

<PageTitle>Admin Page</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1 style="text-align:center">User Index</h1>
        <br /><br /><br /><br /><br />

        <MudButton Href="create-user" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Add" Color="Color.Primary">Add User</MudButton>
        <MudButton Href="create-role" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Person" Color="Color.Primary">Create Role</MudButton>
        <MudButton Href="manage-role" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.ManageAccounts" Color="Color.Primary">Manage Role</MudButton>
        <br /><br />
        <MudTable Items="@ListOfUsers" Hover="true" Breakpoint="Breakpoint.Sm" TotalItems=@ListOfUsers.Count() Striped="true">
            <HeaderContent>
                <MudTh>UserName</MudTh>
                <MudTh>First Name</MudTh>
                <MudTh>Last Name</MudTh>
                <MudTh>ID</MudTh>
                <MudTh>Role</MudTh>
            </HeaderContent>
            <RowTemplate Context="row">
                <MudTd DataLabel="UserName">@row.UserName</MudTd>
                <MudTd DataLabel="First Name">@row.FirstName</MudTd>
                <MudTd DataLabel="Last Name">@row.LastName</MudTd>
                <MudTd DataLabel="ID">@row.Id</MudTd>
                <MudTd DataLabel="Role">Hard coded role ex</MudTd> @* Need to Add Role *@
            </RowTemplate>
        </MudTable>
    </Authorized>
    <NotAuthorized>
        <h3 style="text-align:center">
            Whoops...You aren't logged in!
            <br>Either Log in or Register an Account to view this page!
        </h3>
    </NotAuthorized>
</AuthorizeView>
  

