<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a style="color:white;font-size: 20px;" class="navbar-brand" href="">SleepWellApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <MudIcon Icon="@Icons.Material.Outlined.VideoLibrary" Size="Size.Large" />&emsp;Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="journal">
                <MudIcon Icon="@Icons.Material.Outlined.MenuBook" Size="Size.Large" />&emsp;Journal
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="likedaudio">
                <MudIcon Icon="@Icons.Material.Outlined.FavoriteBorder" Size="Size.Large" />&emsp;Liked Audio
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin">
                <MudIcon Icon="@Icons.Material.Outlined.AdminPanelSettings" Size="Size.Large" />&emsp;Admin
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
