@page "/"
<PageTitle>SleepWell.NET</PageTitle>
<link href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" rel="stylesheet">

<MudContainer>
    <MudImage Src="images/Logo.png" Alt="OurLogo" Elevation="0" Class="rounded-lg" style="padding-top: 0px" />

    <style>
        .rounded-lg {
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 50vw;
            height: auto;
            max-height: 50vh;
            width: auto;
        }

        .mud-grid {
            justify-content: center;
            align-items: center;
        }
    </style>
    <MudText Typo="Typo.h3" Align="Align.Center" GutBottom="trutere">Audio Library</MudText>
    <br />

    <MudText Align="Align.Center">Welcome to SleepWell.NET, an expansive audio library that provides a variety of sounds to help you fall and stay asleep.</MudText>
    <br />
    <br />


    @if (User is not null)
    {
        <h1>Hello @User.FirstName</h1>
    }

    <MudTextField @bind-Value="searchText" Label="Search audio by Title" Variant="Variant.Text" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Sharp.Search" />
    @if (string.IsNullOrWhiteSpace(searchText))
    {
        <MudGrid Class="mt-8" Justify="Justify.Center">
            @foreach (var audioCard in audioCards)
            {
                <AudioCard Liked="@likedAudioIds.Contains(audioCard.audioID)" audioImage="@audioCard.audioImage" audioID="@audioCard.audioID" audioTitle="@audioCard.audioTitle" audioDesc="@audioCard.audioDesc" audioLink="@audioCard.audioLink"></AudioCard>
            }
        </MudGrid>
    }
    else
    {
        <MudGrid Class="mt-8" Justify="Justify.Center">
            @foreach (var card in filteredAudioCards)
            {
                @if (card.currentPlayingAudio == card.audioID || card.currentPlayingAudio == 0)
                {
                    <AudioCard Liked="@likedAudioIds.Contains(card.audioID)" audioImage="@card.audioImage" audioID="@card.audioID" audioTitle="@card.audioTitle" audioDesc="@card.audioDesc" audioLink="@card.audioLink"> </AudioCard>
                }
            }
        </MudGrid>

    }
    @code {
    List<AudioCard> audioCards = new List<AudioCard> {

    new AudioCard { audioImage = "images/pilars.jpg", audioID = 1, audioTitle = "Rainforests Sounds", audioDesc = "This photo is of the Amazon Rainforest", audioLink = "audio/sample.mp3" },
    new AudioCard { audioImage = "images/bird.png", audioID = 2, audioTitle = "Bird Noises", audioDesc = "Bird Noises", audioLink = "audio/bird_noise.mp3" },
    new AudioCard { audioImage = "images/black.jpg", audioID = 3, audioTitle = "Black Noise", audioDesc = "Black Noise", audioLink = "audio/black_noise.mp3" },
    new AudioCard { audioImage = "images/brown.jpg", audioID = 4, audioTitle = "Brown Noise", audioDesc = "Brown Noise", audioLink = "audio/brown_noise.mp3" },
    new AudioCard { audioImage = "images/thunder.jpg", audioID = 5, audioTitle = "Dark Noise", audioDesc = "Thunder rolling in", audioLink = "audio/dark_noise.mp3" },
    new AudioCard { audioImage = "images/pink.jpg", audioID = 6, audioTitle = "Pink Noise", audioDesc = "Pink Noise", audioLink = "audio/pink_noise.mp3" },
    new AudioCard { audioImage = "images/sleep.jpg", audioID = 7, audioTitle = "Sleep Well", audioDesc = "Sleep Well", audioLink = "audio/sleepWell_noise.mp3" },
    new AudioCard { audioImage = "images/white.jpg", audioID = 8, audioTitle = "White Noise", audioDesc = "White Noise", audioLink = "audio/static_noise.mp3" },
    new AudioCard { audioImage = "images/summerNight.jpg", audioID = 9, audioTitle = "Summer Night Noise", audioDesc = "Hot Summer Nights", audioLink = "audio/summerNight_noise.mp3" },
    new AudioCard { audioImage = "images/wave.jpg", audioID = 10, audioTitle = "Waves Noise", audioDesc = "Waves crashing on the beach", audioLink = "audio/wave_noise.mp3" }

    };
    }




</MudContainer>