@page "/"
<PageTitle>SleepWell.NET</PageTitle>
<link href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" rel="stylesheet">

<MudContainer>
    <MudImage Src="images/Logo.png" Alt="OurLogo" Elevation="0" Class="rounded-lg" style="padding-top: 0px" />

    <style>
        .rounded-lg {
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 50vw;
            height: auto;
            max-height: 50vh;
            width: auto;
        }

        .mud-grid {
            justify-content: center;
            align-items: center;
        }
    </style>
    <MudText Typo="Typo.h3" Align="Align.Center" GutBottom="trutere">Audio Library</MudText>
    <MudText Align="Align.Center">Welcome to SleepWell.NET, an expansive audio library that provides a variety of sounds to help you fall and stay asleep.</MudText>

    @if (User is not null)
    {
        <h1>Hello @User.FirstName</h1>
    }

    <input type="text" @bind="searchText" placeholder="Search by Title">

    @code {
        List<AudioCard> audioCards = new List<AudioCard>
        {
    new AudioCard { audioImage = "images/pilars.jpg", audioID = 1, audioTitle = "Rainforests Sounds", audioDesc = "This photo is of the Amazon Rainforest", audioLink = "audio/sample.mp3" },
    new AudioCard { audioImage = "images/pilars.jpg", audioID = 2, audioTitle = "Component Test", audioDesc = "Test Description", audioLink = "audio/sample.mp3" },
    new AudioCard { audioImage = "images/pilars.jpg", audioID = 3, audioTitle = "Component Test", audioDesc = "Test Description", audioLink = "audio/sample.mp3" },
    new AudioCard { audioImage = "images/pilars.jpg", audioID = 4, audioTitle = "Component Test", audioDesc = "Test Description", audioLink = "audio/sample.mp3" },
    new AudioCard { audioImage = "images/pilars.jpg", audioID = 5, audioTitle = "Component Test", audioDesc = "Test Description", audioLink = "audio/sample.mp3" },
    new AudioCard { audioImage = "images/pilars.jpg", audioID = 6, audioTitle = "Component Test", audioDesc = "Test Description", audioLink = "audio/sample.mp3" }
        };
    }
    <MudGrid Class="mt-8" Justify="Justify.Center">
        @foreach (var card in filteredAudioCards)
        {
            <AudioCard audioImage="@card.audioImage" audioID="@card.audioID" audioTitle="@card.audioTitle" audioDesc="@card.audioDesc" audioLink="@card.audioLink"> </AudioCard>
        }
    </MudGrid>

</MudContainer>