@page "/journal"
@using System.Net.Http.Json
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using SleepWellApp.Shared

<PageTitle>Journal</PageTitle>
<AuthorizeView>
    <Authorized>
        <MudGrid Spacing="@spacing" Justify="Justify.Center">
            <MudText Typo="Typo.h3">My Sleep Journal</MudText>
        </MudGrid>

        <MudGrid Spacing="@spacing" Justify="Justify.Center">
            <MudItem>
                <MudPaper Class="pa-16 ma-2" Square="true" Height="380px" Width="700px">
                    <h3>@dateNow</h3>

                    <MudTextField @bind-Value="journalContent" T="string" Counter="500" Lines="5" Immediate="true" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))" Label="What did you dream about?" Variant="Variant.Text" />

                    <MudButton Class="mt-3 mb-5 align-center" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Save" Color="Color.Primary" @onclick="SaveJournal">Save</MudButton>

                    @if (!string.IsNullOrWhiteSpace(@Message))
                    {
                        <p style="color: black;text-align: center">@Message</p>
                    }
                </MudPaper>
            </MudItem>
        </MudGrid>


        <!--AI Image Generation UI-->

        <MudGrid Spacing="@spacing" Justify="Justify.Center">

            <div style="margin-top: 50px;">
                <MudItem>
                    <MudText Typo="Typo.h4">Let's Visualize Last Night's Dream!</MudText>
                </MudItem>
            </div>
        </MudGrid>

        <MudGrid Spacing="@spacing" Justify="Justify.Center">
            <div style="margin-top: 25px;">
                <MudItem>
                    <MudButton Disabled="@_processing" OnClick="ProcessSomething" Variant="Variant.Filled" Color="Color.Primary">
                        @if (_processing)
                        {
                            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                            <MudText Class="ms-2">One Moment Please</MudText>
                        }
                        else
                        {
                            <MudText>Generate My Dream</MudText>
                        }
                    </MudButton>
                    @code {
                    private bool _processing = false;

        async Task ProcessSomething()
        {
            _processing = true;
            await Task.Delay(2000);
            _processing = false;
        }
                    }
                </MudItem>
            </div>
        </MudGrid>

        <MudGrid Spacing="@spacing" Justify="Justify.Center">
            <div style="margin-top: 50px;">
                <MudItem>
                    <MudImage Src="images/placeholder.jpg" Width="450" Height="307" Alt="Place Holder" Elevation="30" Class="rounded-lg" />
                </MudItem>
            </div>
        </MudGrid>
    </Authorized>
    <NotAuthorized>
        <h3 style="text-align:center">
            Whoops...You aren't logged in!
            <br>Either Log in or Register an Account to view this page!
        </h3>
    </NotAuthorized>
</AuthorizeView>