@page "/journal"

<PageTitle>Journal</PageTitle>

<h1> Your Journals</h1>
<MudGrid Spacing="@spacing" Justify="Justify.Center">

    <MudItem>
        <MudPaper Class="pa-16 ma-2" Square="true" Height="280px" Width="400px">
            <h3>@date</h3>
            <MudTextField T="string" Counter="25" HelperText="What did you dream about?" Lines="2" Immediate="true" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))" Label="Enter Journal Content" Variant="Variant.Text" />
            <MudButton Class="mt-3" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Save" Color="Color.Primary">Save</MudButton>
        </MudPaper>
    </MudItem>

    <MudItem>
        <MudPaper Class="pa-16 ma-2" Square="true" Height="280px" Width="400px">
            <h3>@date</h3>
            <MudTextField T="string" Counter="25" HelperText="What did you dream about?" Lines="2" Immediate="true" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))" Label="Enter Journal Content" Variant="Variant.Text" />
            <MudButton Class="mt-3" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Save" Color="Color.Primary">Save</MudButton>
        </MudPaper>
    </MudItem>

    <MudItem>
        <MudPaper Class="pa-16 ma-2" Square="true" Height="280px" Width="400px">
            <h3>@date</h3>
            <MudTextField T="string" Counter="25" HelperText="What did you dream about?" Lines="2" Immediate="true" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))" Label="Enter Journal Content" Variant="Variant.Text" />
            <MudButton Class="mt-3" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Save" Color="Color.Primary">Save</MudButton>
        </MudPaper>
    </MudItem>
</MudGrid>
@code {
    public int spacing { get; set; } = 2;
    DateTime? date = DateTime.Today;

    private IEnumerable<string> MaxCharacters(string ch)
    {
        if (!string.IsNullOrEmpty(ch) && 25 < ch?.Length)
            yield return "Max 25 characters";
    }
}