@page "/likedaudio"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject HttpClient Http

<PageTitle>Liked Sounds</PageTitle>

@code {
    List<AudioCard> audioCards = new List<AudioCard> {
    new AudioCard { audioImage = "images/pilars.jpg", audioID = 1, audioTitle = "Rainforests Sounds", audioDesc = "This photo is of the Amazon Rainforest", audioLink = "audio/sample.mp3" },
    new AudioCard { audioImage = "images/bird.png", audioID = 2, audioTitle = "Bird Noises", audioDesc = "Bird Noises", audioLink = "audio/bird_noise.mp3" },
    new AudioCard { audioImage = "images/black.jpg", audioID = 3, audioTitle = "Black Noise", audioDesc = "Black Noise", audioLink = "audio/black_noise.mp3" },
    new AudioCard { audioImage = "images/brown.jpg", audioID = 4, audioTitle = "Brown Noise", audioDesc = "Brown Noise", audioLink = "audio/brown_noise.mp3" },
    new AudioCard { audioImage = "images/thunder.jpg", audioID = 5, audioTitle = "Dark Noise", audioDesc = "Thunder rolling in", audioLink = "audio/dark_noise.mp3" },
    new AudioCard { audioImage = "images/pink.jpg", audioID = 6, audioTitle = "Pink Noise", audioDesc = "Pink Noise", audioLink = "audio/pink_noise.mp3" },
    new AudioCard { audioImage = "images/sleep.jpg", audioID = 7, audioTitle = "Sleep Well", audioDesc = "Sleep Well", audioLink = "audio/sleepWell_noise.mp3" },
    new AudioCard { audioImage = "images/white.jpg", audioID = 8, audioTitle = "White Noise", audioDesc = "White Noise", audioLink = "audio/static_noise.mp3" },
    new AudioCard { audioImage = "images/summerNight.jpg", audioID = 9, audioTitle = "Summer Night Noise", audioDesc = "Hot Summer Nights", audioLink = "audio/summerNight_noise.mp3" },
    new AudioCard { audioImage = "images/wave.jpg", audioID = 10, audioTitle = "Waves Noise", audioDesc = "Waves crashing on the beach", audioLink = "audio/wave_noise.mp3" }

    };
}
<AuthorizeView>
    <Authorized>
        @if (User is not null ) {
          <h1 style="text-align:center">@User.FirstName's Liked Sounds</h1>

        }
        <MudGrid Class="mt-8" Justify="Justify.Center">
            @if (audioIds.Count() == 0)
            {
                <h3 style="text-align:center">
                    You don't have any Liked Audios! Oh No!
                    <br>Go back to the homepage, find something you like, and click on the like button!
                    <img style="display: block" src="images/shocked_monkey.jpg" alt="Shocked Monkey" width="650" height="400">
                </h3>
            }
            else
            {
                @foreach (var id in audioIds)
                {
                    if (audioCards[id - 1].audioID.Equals(id))
                    {
                        <AudioCard audioImage="@audioCards[id - 1].audioImage" audioID="@audioCards[id - 1].audioID" audioTitle="@audioCards[id - 1].audioTitle" audioDesc="@audioCards[id - 1].audioDesc" audioLink="@audioCards[id - 1].audioLink"> </AudioCard>
                    }
                }
            }
        </MudGrid>
    </Authorized>
    <NotAuthorized>
        <h3 style="text-align:center">
                    Whoops...You aren't logged in!
                    <br>Either Log in or Register an Account to view this page!
                </h3>
    </NotAuthorized>
</AuthorizeView>